/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(100deg,rgb(41, 0, 0),rgb(20, 20, 20));
  background-repeat: repeat;
}
